$teal: #2FB8AC;
$brown: #332C26;


.header{
  background-color: #332C26;
  width: 100%;
  position: fixed;
  display: block;
  z-index: 3;
  top:0;
  ul{
    list-style: none;
  }
  h6{
    text-decoration: none;
    font-size: 20px;
    color: $teal;
    font-family: 'Nova Oval', cursive;
  }
  h6:hover{
    text-decoration:none;
    color:white;
  }
  .row{
    border: 5px solid black;
    border-radius: 5%;
  }
  .navLinks{
    padding-top: 4%;
    text-align: center;
    li{
      display: inline-block;
      font-size: 20px;
      padding-right: 5%;
    }
  }

  .contact{
    text-align: right;
    padding-right: 3%;
    a{
      color: $teal;
    }
    a:hover{
      color:white;
      text-decoration:none;
    }

    p{
      font-family: 'Nova Oval', cursive;
      font-size: 15px;
      text-decoration: none;
    }
  }
  .name{
    text-align: left;
    padding-left: 3%;
    a{
      font-size: 30px;
      font-family: 'Swanky and Moo Moo', cursive;
    }
  }
}


//------------------------main section styling -------------------------------//
.mainSection{
  height: 100vh;
  padding-top: 10%;
  background-image: url('http://images.nationalgeographic.com/wpf/media-live/photos/000/235/cache/free-cities-charleston_23573_600x450.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: relative;
  background-position: center;
  font-family: 'Swanky and Moo Moo', cursive;

  .learnMore{
    margin-top: 8%;
    width: 40%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    a{
      color: $teal;
      width:100%;
      font-size: 40px;
      background-color: #332C26;
      padding: 4px;
      text-align: center;
    }
    a:hover{
      color: white;
      text-decoration: none;
    }
  }
  h1{
    font-size: 80px;
    text-align:center;

  }
  h4{
    font-size: 60px;
    text-align:center;
  }

}

//-----------------about section styling -------------------------------------//
.meSection{
  padding-top: 10%;
  background-color: #FFB884;
  height: 100vh;
  ul{
    font-family: 'Swanky and Moo Moo', cursive;
    text-align:center;
    margin-top:5%;
    li{
      display: inline-block;
      vertical-align:middle;
      width: 40%;
      text-align:center;
      margin-left:auto;
      margin-right:auto;
      img{
        border-radius: 50%;
        vertical-align:middle;
        border: 2px solid $teal;

      }
      h4{
        font-size: 50px;
        text-shadow: $teal 0px 0px 1px;
        font-weight:bolder;
      }
      p{
        font-size:25px;
        line-height:120%;
        font-family: 'Nova Oval', cursive;
      }
    }
  }
}

//-----------------resume section styling ------------------------------------//

.resumeSection{
  padding-top: 10%;
  background-color: #E8D3A9;
  height: 100vh;
  border:1px solid black;
  font-family: 'Swanky and Moo Moo', cursive;
  .sideResume{
    width:28%;
    display:inline-block;
    padding-left: 2%;
    padding-right: 2%;
    border-right: 1px dashed #332C26;
    p{
      font-family: 'Nova Oval', cursive;
      text-align:center;
    }
  }
  .linkToResume{
    padding-right:3%;
    text-align:right;
    a{
      color:$brown;
    }
    a:hover{
      text-decoration:none;
      color:$teal;
    }
  }
  .resumeWork{
    width:68%;
    display:inline-block;
    vertical-align: top;
  }
  h3{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:15%;
    text-align:center;
    font-size: 50px;
    text-shadow: $teal 0px 0px 1px;
    font-weight:bolder;
  }
  ul{
    text-decoration:none;
    width:100%;
    margin-top:4%;
    padding-left:20%;
    margin-left:auto;
    margin-right:auto;

    li{
      display:inline-block;
      width:10em;
      height:10em;
      padding-top:3em;
      text-align:center;
      vertical-align:bottom;
      border-radius:100%;
      border: 4px solid #332C26;
      margin-right:5%;
      h4{
          padding:4%;
          font-weight:bolder;
          font-size: 22px;
          color: $teal;
          background-color:#332C26;
          border-radius:40%;
      }
    }
  }
  .placeMe{
    background-image: url('placeme.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center;
  }
  .halibut{
    background-image: url('halibut.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center;
  }
  .peralta{
    background-image: url('peralta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center;
  }
}

//-----------------contact section styling -----------------------------------//
.contactSection{
  padding-top: 10%;
  background-color: #FFB884;
  height: 100vh;
  border:1px solid black;
  font-family: 'Nova Oval', cursive;
  .carousel{
    h4{
      color:$teal;
      font-weight:bold;
    }
    p{
      font-size:20px;
    /*   text-shadow: $brown 0px 0px 1px; */
    }
  }
  ul{
    text-decoration:none;
    width: 80%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
    li{
      display:inline-block;
      margin-right:3%;
      a{
        color:$brown;
      }
      a:hover{
        color:$teal;
        text-decoration:none;
      }
      i{
        display:block;
      }
    }
  }
}
