/* $darkColor : #2B2726; */
/* $blueColor : #0A516D; */
/* $tealColor : #018790;
$greenColor: #7DAD93; */
$bBlueColor: #00A8C6;
$darkBlue: #A3D95B;

* {
  font-family: 'Nunito', sans-serif;
  margin: 0px;
}

//------------------Styling Header Section -----------------------------------//
header{
  background-color: $bBlueColor;
  color: $darkBlue;
  width: 100vw;
  a {
    color: $darkBlue;
  }
  a:hover{
    color: white;
  }
  a:visited{
    color: $darkBlue;
  }
  ul{
    list-style: none;
  }
  .row{
    border: 5px solid black;
    border-radius: 5%;
  }
  .navLinks{
    padding-top: 4%;
    text-align: center;
    li{
      display: inline-block;
      font-size: 20px;
      padding-right: 5%;
    }
  }

  .contact{
    text-align: right;
    padding-right: 3%;
    font-size: 15px;
    a{
    /*   border: 1px solid $darkColor; */
      margin-right: 3%;
      color: $darkBlue;
    }
    a:hover{
      color: white;
    }
  }
  .name{
    text-align: left;
    padding-left: 3%;
    a{
      text-decoration: none;
    }
  }
}

.topImage{
    width: 100vw;
    height: 80%;
    position:relative;
    background: url('http://www.hdwallpapers.in/walls/matrix_binary-wide.jpg') center center no-repeat fixed;
    background-size: cover;
    .des{
      margin-left: 35%;
      padding-top: 0;
    }
    h2{
/*       font-size: 20px; */
      position:relative;
      margin-left: 30%;
      padding-top: 2%;
      font-weight: 900;
      color: $darkBlue;
      text-shadow: 2px 2px #000;
      white-space: nowrap;
      overflow: hidden;
      width: 30em;
      animation: type 4s steps(60, end);
    }

    h2:nth-child(2){
      animation: type2 3s steps(60, end);
    }
    h2:nth-child(3){
      animation: type2 6s steps(60, end);
    }
    h2:nth-child(4){
      animation: type2 8s steps(60, end);
    }
    h2:nth-child(5){
      animation: type2 11s steps(60, end);
    }

    span{
      animation: blink 1s infinite;
    }

    @keyframes type{
      from { width: 0; }
    }

    @keyframes type2{
      0%{width: 0;}
      50%{width: 0;}
      100%{ width: 100; }
    }

    @keyframes blink{
      to{opacity: .0;}
    }
}


//------------------------ Styling Main View ---------------------------------//
/*
.ng-scope{
  background-color: white;
} */
.Reviews{
  width: 80%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: $bBlueColor;
  text-color: $darkBlue;
  border-radius: 8%;

  h3{
    margin-top: 0;
    padding-top: 3%;
    text-align: center;
    color: $darkBlue;
    font-weight: 500;
  }
  .oneReview{
    width: 80%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    p{
      text-align: justify;
      font-weight:lighter;
      color: white;
    }

    h4{
      text-align: right;
      color: $darkBlue;
      font-weight: 300;
    }
  }
}

//------------------------ Styling About View --------------------------------//

.aboutMe{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: $bBlueColor;
  background-size: cover;
  text-color: $darkBlue;
  border-radius: 8%;
  h4, h5{
    margin-top: 0;
    padding-top: 3%;
    text-align: center;
    color: $darkBlue;
    font-weight: 500;
  }
  .section{
    width: 80%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    img{
      width: 30%;
      display: inline-block;
      margin-bottom: 3%;
      border-radius: 30%;
    }
    p{
      width: 69%;
      padding-left: 3%;
      padding-right: 3%;
      display: inline-block;
      vertical-align: middle;
      text-align: justify;
      font-weight:lighter;
      color: white;
    }
  }
}

//------------------------ Styling Works View --------------------------------//
.workPage{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  border-radius: 8%;
  margin-top: 0;
  text-color: $darkBlue;
  background-color: $bBlueColor;
  background-size: cover;
  .accordionDiv{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  h3{
    text-align: center;
    text-color: $darkBlue;
    padding-top: 3%;
    margin-bottom: 5%;
  }
  img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 30%;
  }
  h4, p{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
  }
  h4{
    text-color: $darkBlue;
  }
  p{
    text-color: white;
  }

}

//-----------------------Resume Page Styling ---------------------------------//
.resumeViewer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    border-radius: 8%;
    margin-top: 0;
    background-color: $bBlueColor;
    background-size: cover;
    .linkToResume{
      text-align: right;
      width: 60%;
      padding-top: 5%;
      padding-bottom: 5%;
      margin-right: auto;
      margin-left: auto;
      font-weight: 300;
    }
    h4{
      width: 80%;
      margin-left:auto;
      margin-right: auto;
      color: $darkBlue;
    }
    p{
      width: 60%;
      margin-left:auto;
      margin-right: auto;
      color: white;
      text-align: justify;
    }
    h5{
      width: 65%;
      margin-left: auto;
      margin-right:auto;
      font-weight: bolder;
      color:white;
    }
    ul{
      width: 50%;
      margin-left:auto;
      margin-right:auto;
      color:white;
    }
    a{
      text-decoration: none;
      color: $darkBlue;
    }
    a:hover{
      color:white;
    }
    a:visited{
      color: $darkBlue;
    }
    .accord{
      width: 60%;
      margin-left:auto;
      margin-right:auto;
      text-color: #000;
      h5, h6{
        color: black;
      }
      h6{
        width: 80%;
        margin-left:auto;
        margin-right:auto;
      }
      p{
        color: black;
      }
    }
}

//-----------------------Hire Me Page Styling --------------------------------//

.hireMe{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-color: $darkBlue;
    background-color: $bBlueColor;
    background-size: cover;
    border-radius: 8%;
    text-align: center;
    h3{
      padding-top: 3%;
    }
    h4{
      margin-top: 3%;
    }
    ul{
      list-style: none;
    }
    .hireContact{
      padding-top: 4%;
      padding-left: 5%;
      text-align: center;
      margin-left:auto;
      margin-right: auto;
      li{
        display: inline-block;
        font-size: 20px;
        padding: 5% 5% 5% 5%;
        i{
          display: block;
        }
        a{
          text-decoration: none;
          color: $darkBlue;
        }
        a:hover{
          color:white;
        }
        a:visited{
          color: $darkBlue;
        }

      }

    }
}
