.header {
  background-color: #332C26;
  width: 100%;
  position: fixed;
  display: block;
  z-index: 3;
  top: 0; }
  .header ul {
    list-style: none; }
  .header h6 {
    text-decoration: none;
    font-size: 20px;
    color: #2FB8AC;
    font-family: 'Nova Oval', cursive; }
  .header h6:hover {
    text-decoration: none;
    color: white; }
  .header .row {
    border: 5px solid black;
    border-radius: 5%; }
  .header .navLinks {
    padding-top: 4%;
    text-align: center; }
    .header .navLinks li {
      display: inline-block;
      font-size: 20px;
      padding-right: 5%; }
  .header .contact {
    text-align: right;
    padding-right: 3%; }
    .header .contact a {
      color: #2FB8AC; }
    .header .contact a:hover {
      color: white;
      text-decoration: none; }
    .header .contact p {
      font-family: 'Nova Oval', cursive;
      font-size: 15px;
      text-decoration: none; }
  .header .name {
    text-align: left;
    padding-left: 3%; }
    .header .name a {
      font-size: 30px;
      font-family: 'Swanky and Moo Moo', cursive; }

.mainSection {
  height: 100vh;
  padding-top: 10%;
  background-image: url("http://images.nationalgeographic.com/wpf/media-live/photos/000/235/cache/free-cities-charleston_23573_600x450.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: relative;
  background-position: center;
  font-family: 'Swanky and Moo Moo', cursive; }
  .mainSection .learnMore {
    margin-top: 8%;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .mainSection .learnMore a {
      color: #2FB8AC;
      width: 100%;
      font-size: 40px;
      background-color: #332C26;
      padding: 4px;
      text-align: center; }
    .mainSection .learnMore a:hover {
      color: white;
      text-decoration: none; }
  .mainSection h1 {
    font-size: 80px;
    text-align: center; }
  .mainSection h4 {
    font-size: 60px;
    text-align: center; }

.meSection {
  padding-top: 2%;
  background-color: #FFB884;
  height: 100vh; }
  .meSection ul {
    font-family: 'Swanky and Moo Moo', cursive;
    text-align: center;
    margin-top: 5%; }
    .meSection ul li {
      display: inline-block;
      vertical-align: middle;
      width: 40%;
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
      .meSection ul li img {
        border-radius: 50%;
        vertical-align: middle;
        border: 2px solid #2FB8AC; }
      .meSection ul li h4 {
        font-size: 50px;
        text-shadow: #2FB8AC 0px 0px 1px;
        font-weight: bolder; }
      .meSection ul li p {
        font-size: 25px;
        line-height: 120%;
        font-family: 'Nova Oval', cursive; }

.resumeSection {
  padding-top: 2%;
  background-color: #E8D3A9;
  height: 100vh;
  border: 1px solid black;
  font-family: 'Swanky and Moo Moo', cursive; }
  .resumeSection .sideResume {
    width: 28%;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    border-right: 1px dashed #332C26; }
    .resumeSection .sideResume p {
      font-family: 'Nova Oval', cursive;
      text-align: center; }
  .resumeSection .linkToResume {
    padding-right: 3%;
    text-align: right; }
    .resumeSection .linkToResume a {
      color: #332C26; }
    .resumeSection .linkToResume a:hover {
      text-decoration: none;
      color: #2FB8AC; }
  .resumeSection .resumeWork {
    width: 68%;
    display: inline-block;
    vertical-align: top; }
  .resumeSection h3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    text-align: center;
    font-size: 50px;
    text-shadow: #2FB8AC 0px 0px 1px;
    font-weight: bolder; }
  .resumeSection ul {
    text-decoration: none;
    width: 100%;
    margin-top: 4%;
    padding-left: 20%;
    margin-left: auto;
    margin-right: auto; }
    .resumeSection ul li {
      display: inline-block;
      width: 10em;
      height: 10em;
      padding-top: 3em;
      text-align: center;
      vertical-align: bottom;
      border-radius: 100%;
      border: 4px solid #332C26;
      margin-right: 5%; }
      .resumeSection ul li h4 {
        padding: 4%;
        font-weight: bolder;
        font-size: 22px;
        color: #2FB8AC;
        background-color: #332C26;
        border-radius: 40%; }
  .resumeSection .placeMe {
    background-image: url("placeme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center; }
  .resumeSection .halibut {
    background-image: url("halibut.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center; }
  .resumeSection .peralta {
    background-image: url("peralta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center; }

.contactSection {
  padding-top: 2%;
  background-color: #FFB884;
  height: 100vh;
  border: 1px solid black;
  font-family: 'Nova Oval', cursive; }
  .contactSection .carousel h4 {
    color: #2FB8AC;
    font-weight: bold; }
  .contactSection .carousel p {
    font-size: 20px;
    /*   text-shadow: $brown 0px 0px 1px; */ }
  .contactSection ul {
    text-decoration: none;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%; }
    .contactSection ul li {
      display: inline-block;
      margin-right: 3%; }
      .contactSection ul li a {
        color: #332C26; }
      .contactSection ul li a:hover {
        color: #2FB8AC;
        text-decoration: none; }
      .contactSection ul li i {
        display: block; }
