<div class="hireMe">
  <h3>Let's Get In Touch!</h3>

  <div class="contactOptions">
<!--     <h4>Ways To Contact Me!</h4> -->
<!--
    <h5>Phone: </h5>
    <p><a href="tel:915-342-3291">Phone: 915-342-3291</a></p>

    <h5>Email: </h5>
    <p><a href="mailto:trossys@gmail.com?Subject=We%20want%20to%20hire%20you!">Email: trossys@gmail.com</a></p>
 -->
    <div class="row">
        <div class="col-md-12">
          <div class= "hireMeContact">
            <ul class="hireContact">
              <li><a  href="tel:915-342-3291"><i class="icon-phone icon-4x"></i>915.342.3291</a></li>
              <li><a  href="mailto:trossys@gmail.com?Subject=Let's%20discuss%20possible%20job%20opportunities!"><i class="icon-envelope icon-4x"></i>trossys@gmail.com</a></li>
              <li><a href="https://www.linkedin.com/pub/tiffany-robinson/102/774/787"><i class="icon-linkedin icon-4x"></i>Connect on LinkedIn</a></li>
            </ul>
          </div>
        </div>
    </div>

  </div>
</div>
