<div class="header">
  <div class="row">
      <div class="col-md-3">
        <div class="name">
          <h3 class="myName"> <a href="#/"><h6>Tiffany R Robinson</h6></a>
        </div>
      </div>
      <div class="col-md-5">
        <div class= "navigation">
          <ul class="navLinks">
            <li><a class="mainSec" href="#mainSection"><h6>Home</h6></a></li>
            <li><a  class="aboutMe" href="#meSection"><h6>About</h6></a></li>
            <li><a class="resumeSec" href="#resumeSection"><h6>Resume</h6></a></li>
            <li><a class="contactSec" href="#contactSection"><h6>Hire Me!</h6></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="contact">
          <li><a class="textContact" href="tel:915-342-3291"><p>
            Phone: 915-342-3291
          </p></a></li>
          <li><a class="textContact" href="mailto:trossys@gmail.com?Subject=Let's%20discuss%20possible%20job%20opportunities!"><p>
            Email: trossys@gmail.com
          </p></a></li>
          <li><a class="icon-linkedin icon-camera-retro icon-1x" href="https://www.linkedin.com/pub/tiffany-robinson/102/774/787"></a> <a class="icon-github-sign icon-camera-retro icon-1x" href="https://github.com/tiffanyRossyRobinson"></a></li>
        </ul>
      </div>
  </div>
</div>
<div class="mainContent">



<section class= "mainSection" id = "mainSection">
  <h1>Tiffany R. Robinson</h1>
  <h4>Front-End Web Developer</h4>

    <div class="learnMore">
      <a href="#meSection">Make A Move</a>
    </div>

</section>
<section class= "meSection" id = "meSection">
  <ul>
    <li>
      <h4>About Me</h4>
      <p>
        In April 2015, after years of living in Texas, my family and I decided to move to Charleston, SC. With this new move came the opportunity to take the leap and change the direction my career was headed. I recently graduated from The Iron Yard in the Front-End Engineering program. I am ready to continue my journey and find a position that allows me to challenge myself daily, constantly learn, and create and build exciting products!
      </p>
    </li>
    <li><img class="wow pulse" src="/css/me.jpg" width="200" alt="" /></li>

  </ul>
</section>

<section class= "resumeSection" id = "resumeSection">
  <div class="wow fadeIn sideResume">

    <h3>Education: </h3>
    <p>
      - The Iron Yard (August 2015) <br>Front-End Engineering <br>
      - The University of Texas at El Paso (December 2011) <br> BS Electrical Engineering  <br>
    </p>
    <h3>Toolbox: </h3>
    <p>
      AngularJs, BackboneJs, Javascript, JQuery, SASS, CSS, HTML, PERL, C, Angular-Google Maps, Font-Awesome, and WOW
    </p>

    <h3>Extras: </h3>
    <p>
      DOD Secret Clearance
    </p>
  </div>
  <div class="resumeWork">
    <div class="linkToResume">
      <a href="views/tiffany_robinson_resume.pdf"><i class="icon-download-alt icon-2x"></i></a>
    </div>
    <h3>Check Out My Work!</h3>
    <ul>
      <li class="wow bounceInLeft halibut"><a href="http://justhalibut.herokuapp.com/#/"><h4>Just For The Halibut</h4></a></li>
      <li class="wow bounceInUp placeMe"><a href="http://tiffanyrossyrobinson.github.io/tango/"><h4>PlaceMe</h4></a></li>
      <li class="wow bounceInRight peralta"><a href="http://tiffanyrossyrobinson.github.io/DayFourResponsive/"><h4>Powell Peralta</h4></a></li>
    </ul>
  </div>


</section>
<section class= "contactSection" id = "contactSection">
  <div class="carousel" style="height: 450px">
      <carousel interval="myInterval" no-wrap="noWrapSlides">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img width="600" ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>{{slide.title}}</h4>
            <p>{{slide.text}}</p>
          </div>
        </slide>
      </carousel>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class= "hireMeContact">
            <ul class="hireContact">
              <li><a  href="tel:915-342-3291"><i class="icon-phone icon-4x"></i>915.342.3291</a></li>
              <li><a  href="mailto:trossys@gmail.com?Subject=Let's%20discuss%20possible%20job%20opportunities!"><i class="icon-envelope icon-4x"></i>trossys@gmail.com</a></li>
              <li><a href="https://www.linkedin.com/pub/tiffany-robinson/102/774/787"><i class="icon-linkedin icon-4x"></i>Connect on LinkedIn</a></li>
            </ul>
          </div>
        </div>
    </div>

</section>

</div>
