<div class="workPage">
  <h3>Check Out Some of My Work! <br> <span>(click on image to view app)</span></h3>
  <div class="accordionDiv">
      <accordion close-others="oneAtATime">
        <accordion-group>
            <accordion-heading ng-click="isopen=!isopen">
              <div class="">
                Just For The Halibut!
              </div>
            </accordion-heading>
            <a href="http://justhalibut.herokuapp.com/#/"><img class="wow tada"  src="https://fishandkids.msc.org/en/play/fishyfactfiles/halibut/@@images/f3c71f4b-3e63-403c-87ec-ed41b81af91b.png" alt="" /></a>
            <div >
              <h4>Background:</h4>
              <p>
                This app served as my final project for the Font-End Engineering course at The Iron Yard. It was a group project that consisted of a classmate (Trevor Glass) and myself.
              </p>
              <h4>What Does It Do?</h4>
              <p>
                Both my team mate and I are from areas that are not surrounded by water and don't host alot of fishing. We both recently found ourselves in Charleston where there is alot of fishing! This app allows users to post the fish they have caught in their area, thus allowing other users to view what people are catching in the locations they are not familiar with. In addition, the app has been gamified to allow fishers to gain points for the catches they post, using an algorithm we generated, that takes into account the size and species of the fish. Fishers are able to see the top three fishers in the app and their top catch.
              </p>
              <h4>Personal Reflection: </h4>
              <p>
                I had a blast working on this project! Learing how to use Transloadit to allow users to upload photos was important for the app and my experience. I felt like we were able to accomplish so much with this app and even now I still have ideas on new features to add. Looking back, I would spend more time sitting and brainstorming these features to better organize how the data is stored.
              </p>
              <h4>Technologies:</h4>
              <p>
                Angular, Node, Transloadit, Angular Bootstrap, Angular Google-Maps, ngGeolocation, Font-Awesome, Underscore, Moment, Food2Fork API, Javascript, SASS, CSS, HTML
              </p>
              <h4>Find on Github:</h4>
              <p>
                <a href="https://github.com/JustForTheHalibut/JustForTheHalibut">Just For The Halibut</a>
              </p>
            </div>

        </accordion-group>
        <accordion-group>
            <accordion-heading ng-click="isopen=!isopen">
              <div class="">
                PlaceMe
              </div>
            </accordion-heading>
            <a href="http://tiffanyrossyrobinson.github.io/tango/"><h3><i class="wow tada fa fa-street-view">PlaceMe</i></h3></a>
            <div>
              <h4>Background:</h4>
              <p>
                This app was the second group project I particapated in the Front-End Engineering program with the Iron Yard. The group memebers were classmates Mark Kimball, Mitchell Hunt, and myself.
              </p>
              <h4>What Does It Do?</h4>
              <p>
                Anyone who loves to travel knows how long it can take to search the web and find locations they want to visit/move to. With this app, you can cut down the time spent researching destinations. Using an algorithm we created, this app runs the user through a series of questions then processes their response to suggest 3 cities they would fit best. Based on their interest, this fun quiz allows the user to discover cities they never would have thought of!
              </p>
              <h4>Personal Reflection: </h4>
              <p>
                 I was very pleased with the way this app came out. There was alot of javascript involved, but I found it fun and exciting! The restriction in this project was having to generate our own database of cities. Having learned about APIs since this project, I would love to go back and use an API (or multiple if needed) to allow a wider database to place users.
              </p>
              <h4>Technologies:</h4>
              <p>
                Jquery, Javascript, Bootstrap, Underscore, Font-Awesome, CSS, HTML
              </p>
              <h4>Find on Github:</h4>
              <p>
                <a href="https://github.com/tiffanyRossyRobinson/tango">Place Me</a>
              </p>
            </div>
        </accordion-group>
        <accordion-group>
            <accordion-heading ng-click="isopen=!isopen">
              <div class="">
                Powell Peralta
              </div>
            </accordion-heading>
            <a href="http://tiffanyrossyrobinson.github.io/DayFourResponsive/"><img class="wow tada" src="http://tailtap.com/Sales/product_images/y/520/IMG_6670__86122_zoom.jpg" alt="" /></a>
            <div>
              <h4>Background:</h4>
              <p>
                The assignment to create this web page was given in the first week of our course. The project introduced us to the concept of making responsive web pages that could accomodate multiple devices.
              </p>
              <h4>What Does It Do?</h4>
              <p>
                This app is a Powell Peralta inspired web page using HTML and CSS. It focuses on the design of web pages that is responsive and adjust based on the screen size of the users device.
              </p>
              <h4>Personal Reflection: </h4>
              <p>
                 Although the web page primarily uses HTML, CSS, and SASS, I am very proud and happy with this project. It allowed me to take time and focus on the design and layout of the web page where other projects I worked on were heavy on Javascript or other more complex technologies. I look back on this piece to remind myself of where I was when I started and to see how much I have grown as a developer.
              </p>
              <h4>Technologies:</h4>
              <p>
                SASS, CSS, HTML, Font-Awesome
              </p>
              <h4>Find on Github:</h4>
              <p>
                <a href="https://github.com/tiffanyRossyRobinson/DayFourResponsive">Powell Peralta</a>
              </p>
            </div>
        </accordion-group>
      </accordion>

  </div>
</div>
